/* mdn way to set the alternative css box model
   definitely the better way 
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    /* Use the following to see the box model 
    /* outline: 2px solid red; */
    line-height: 1.5;
}

body {
    font-family: Georgia, Garamond, serif;
}

h1 {
    text-align: center;
}

ul,
.ingr {
    list-style: none;
    border: 10px solid green;
    padding: 30px;
}

.ingr {
    background-color: #f1f1f1;
}

ol {
    list-style: none;
    counter-reset: steps;
    background-color: #f1f1f1;
    border: 20px solid red;
    padding: 30px;
}

ol li {
    counter-increment: steps;
}

ol li::before {
    content: "Step " counter(steps) ")";
    margin-right: 0.5rem;
    color: #ff6f00;
}

a {
    text-decoration: none;
}

.hero-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
}